*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 0;
    margin: 0;
}

div{
    display: flex;
}

header, footer{
    display: block;
    margin: 0.5rem;
    padding: 0.5rem;
}

header{
    top: 0;
    position: static;
}