.fixed-box {
    position: fixed;
    top:0;
    left:0;
    z-index:1;
    margin: 1rem;
}

select#language-selector option[value="se"] { background-image:url(https://flagcdn.com/se.svg);   }
select#language-selector option[value="en"] { background-image:url(https://flagcdn.com/en.svg); }
select#language-selector option[value="ru"] { background-image:url(https://flagcdn.com/ru.svg); }