.flag-button img {
    width: auto;
    height: 2rem;
}

.fixed-box {
    position: fixed;
    top:0;
    left:0;
    z-index:1;
    margin: 1em;
    display: flex;
    flex-direction: row;
}

.fixed-box button {
    width: auto;
    height:2rem;
    padding: 0;
    box-sizing: border-box;
    line-height: 0;
    margin-right: 2rem;
}